extends report_base

- load humanize

block header
    script.
      $( function() {
      $( "#tabs" ).tabs();
      } );

    script(type='text/javascript').
      google.charts.load('current', {packages: ['corechart', 'line', 'table']});
      google.charts.setOnLoadCallback(gene_drawCrosshairs);
      function gene_drawCrosshairs() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        {% autoescape off %}
        #{mammal_clegend}
        {% endautoescape %} 
        data.addRows([#{mammal_cdata}]);
        //data.addColumn('number', 'Human');   //for testing
        //data.addColumn('number', 'Mouse');   //for testing
        //data.addColumn('number', 'Rat');     //for testing
        //data.addColumn('number', 'Macaque'); //for testing
        //data.addRows([#{cdata}]);              //for testing


        var options = {
          width: 600,
          height: 300,
          title: 'Mammalian Genes in Wikidata per Species',
          hAxis: {title: 'Query Date'},
          vAxis: {title: 'Number of Genes'},
          crosshair: {color: '#000',trigger: 'selection'},
          chartArea: {  width: "50%", height: "70%" }
        };

        var chart = new 
        google.visualization.LineChart(document.getElementById('gene_div'));

        chart.draw(data, options);
        chart.setSelection([{row: 38,column: 1}]);
      }

      google.charts.setOnLoadCallback(microbe_drawCrosshairs);
      function microbe_drawCrosshairs() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        {% autoescape off %}
        #{microbe_clegend} 
        {% endautoescape %}
        data.addRows([#{microbe_cdata}]);
        //data.addColumn('number', 'Enterobacter');   //for testing
        //data.addColumn('number', 'pertussis');   //for testing
        //data.addColumn('number', 'Yersinia pestis');     //for testing
        //data.addColumn('number', 'Salmonella enterica'); //for testing
        //data.addRows([#{cdata}]);              //for testing

        var options = {
          width: 600, 
          height: 300,
          title: 'Microbial Genes in Wikidata per Species',
          hAxis: {title: 'Query Date'}, 
          vAxis: {title: 'Number of Genes'},
          crosshair: {color: '#000',trigger: 'selection'},
          chartArea: {  width: "50%", height: "70%" }
        };

        var chart = new
        google.visualization.LineChart(document.getElementById('microbe_div'));

        chart.draw(data, options);
        chart.setSelection([{row: 38,column: 1}]);
      }
      
      google.charts.setOnLoadCallback(protein_drawCrosshairs);
      function protein_drawCrosshairs() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        {% autoescape off %}
        //#{protein_clegend}
        {% endautoescape %}
        data.addColumn('number', 'Protein Count');   //for testing
        data.addRows([#{protein_cdata}]);              //for testing

        var options = {
          width: 600,
          height: 300,
          title: 'PLACE-HOLDER Proteins in Wikidata',
          hAxis: {title: 'Query Date'},
          vAxis: {title: 'Number of Proteins'},
          crosshair: {color: '#000',trigger: 'selection'},
          chartArea: {  width: "50%", height: "70%" }
        };

        var chart = new
        google.visualization.LineChart(document.getElementById('protein_div'));

        chart.draw(data, options);
        chart.setSelection([{row: 38,column: 1}]);
      }


      google.charts.setOnLoadCallback(compound_drawCrosshairs);
      function compound_drawCrosshairs() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        {% autoescape off %}
        //#{compound_clegend}
        {% endautoescape %}
        data.addColumn('number', 'Compound Count');   //for testing
        data.addRows([#{compound_cdata}]);              //for testing

        var options = {
          width: 600,
          height: 300,
          title: 'PLACE-HOLDER Compounds in Wikidata',
          hAxis: {title: 'Query Date'},
          vAxis: {title: 'Number of Compounds'},
          crosshair: {color: '#000',trigger: 'selection'},
          chartArea: {  width: "50%", height: "70%" }
        };

        var chart = new
        google.visualization.LineChart(document.getElementById('compound_div'));

        chart.draw(data, options);
        chart.setSelection([{row: 38,column: 1}]);
      }


      google.charts.setOnLoadCallback(ontology_drawCrosshairs);
      function ontology_drawCrosshairs() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        {% autoescape off %}
        //#{ontology_clegend}
        {% endautoescape %}
        data.addColumn('number', 'Ontology Count');   //for testing
        data.addRows([#{ontology_cdata}]);              //for testing

        var options = {
          width: 600,
          height: 300,
          title: 'PLACE-HOLDER Disease Ontology in Wikidata',
          hAxis: {title: 'Query Date'},
          vAxis: {title: 'Number of terms'},
          crosshair: {color: '#000',trigger: 'selection'},
          chartArea: {  width: "50%", height: "70%" }
        };
        
        var chart = new
        google.visualization.LineChart(document.getElementById('ontology_div'));
        
        chart.draw(data, options);
        chart.setSelection([{row: 38,column: 1}]);
      }

      google.charts.setOnLoadCallback(drawTable);
      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Item');
        data.addColumn('string', 'Species');
        data.addColumn('number', 'Depreciated');
        data.addColumn('number', 'Normal');
        data.addColumn('number', 'Preferred');
        data.addColumn('string', 'SPARQL');
        data.addRows([
          {% autoescape off %}
          #{tdata}
          {% endautoescape %}
        ])
        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '50%', height: '50%'});
      }
     

block content
   #tabs
       ul#tab_list
           li 
               a(href='#tabs-1') Wikidata Overview
           li
               a(href='#tabs-2') Jenkins Errors
           li
               a(href='#tabs-3') Curation Issues
       #tabs-1
           #graph_container
              #row
                  #gene_div
                  #microbe_div
                      p Microbe Chart
              #row
                  br
              #row
                  #protein_div
                      p Protein Chart
                  #compound_div
                      p Compound Chart
              #row
                  br
              #row
                  #ontology_div
                      p Ontology Chart
              #row
                  br
           #table_div

           #navcontainer
              ul#navlist
                  li
                     a(href='https://www.wikidata.org/wiki/User:ProteinBoxBot') ProteinBoxBot
                  li
                     a(href='https://www.wikidata.org/wiki/User:MicrobeBot') MicrobeBot
                  li
                     a(href='https://www.wikidata.org/wiki/Wikidata:WikiProject_Molecular_biology') WikiProject Molecular biology
       #tabs-2
           p Jenkins Errors
       #tabs-3
           p Curation Errors
